@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --color-red: 239 68 68;
  --color-green: 34 197 94;
  --color-blue: 59 130 246;
  --color-yellow: 234 179 8;
}
.red {
  --color: var(--color-red);
}
.green {
  --color: var(--color-green);
}
.blue {
  --color: var(--color-blue);
}
.yellow {
  --color: var(--color-yellow);
}

.box-move {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  display: grid;
  place-content: center;
}
.moves {
  border: 1px solid;
}
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min-content;
  position: relative;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.moves.green {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.moves.red {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.moves.yellow {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.moves.blue {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.end {
  border: 76px solid;
  border-left-color: rgb(var(--color-red));
  border-right-color: rgb(var(--color-yellow));
  border-top-color: rgb(var(--color-green));
  border-bottom-color: rgb(var(--color-blue));
}

.start {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: inset 0 0 0 50px rgb(var(--color));
  padding: 50px;
  position: relative;
}
.start.turn {
  animation: blink 1s ease-in-out infinite both;
}
.box-bg {
  background-color: rgb(var(--color));
}

.box-circle {
  background-color: rgb(var(--color));
  background-image: url(./circle.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.box-star {
  background-color: rgb(var(--color));
  background-image: url(./star.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.start-box {
  border: 3px solid rgb(var(--color));
  border-radius: 50%;
  width: 60px;
  margin: auto;
  height: 60px;
  display: grid;
  place-content: center;
}

.piece path {
  stroke: black;
  stroke-width: 244px;
  stroke-linejoin: round;
  paint-order: stroke;
}
.dice-container {
  position: absolute;
  width: 120px;
  height: 120px;
  background: rgb(var(--color));
  display: grid;
  place-content: center;
  perspective: 400px;
}

.dice-container.red {
  top: 0;
  right: 104%;
}

.dice-container.green {
  top: 0;
  left: 104%;
}

.dice-container.yellow {
  bottom: 0;
  left: 104%;
}

.dice-container.blue {
  bottom: 0;
  right: 104%;
}
.dice {
  height: 40px;
  width: 40px;
  background: white;
  display: grid;
  place-content: center;
  gap: 5px;
  padding: 5px 3px;
  position: absolute;
  border: 1px solid #000;
  transform-style: preserve-3d;
  background: linear-gradient(145deg, #dddbd8, #fff);
}
.dice.active {
  display: grid;
}
.dice .point {
  width: 8px;
  height: 8px;
  background: black;
  border-radius: 100%;
  margin: auto;
}
.dice.n3 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.dice.n3 .point:nth-child(1) {
  grid-column-start: 2;
}
.dice.n3 .point:nth-child(2) {
  grid-column: span 2;
}
.dice.n4 {
  grid-template-columns: repeat(2, 1fr);
}
.dice.n5 {
  grid-template-columns: repeat(2, 1fr);
  gap: 3px 12px;
}
.dice.n5 .point:nth-child(3) {
  grid-column: span 2;
}
.dice.n6 {
  grid-template-columns: repeat(2, 1fr);
}

.dice.n1 {
  transform: translateZ(20px);
}
.dice.n2 {
  transform: rotateX(180deg) translateZ(20px);
}
.dice.n3 {
  transform: rotateX(90deg) translateZ(20px);
}
.dice.n4 {
  transform: rotateX(-90deg) translateZ(20px);
}
.dice.n5 {
  transform: rotateY(90deg) translateZ(20px);
}
.dice.n6 {
  transform: rotateY(-90deg) translateZ(20px);
}

.dice-box {
  position: relative;
  width: 40px;
  height: 40px;
  transform-style: preserve-3d;
  transition: 1s ease;
}

.info-box {
  position: absolute;
  right: -18%;
  top: 50%;
  transform: translateY(-50%);
}

button.roll {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  display: table;
  background: rgb(var(--color));
  color: #fff;
  border-radius: 40px;
  margin-top: 20px;
  width: 100px;
}

@keyframes rolling {
  50% {
    transform: rotateX(455deg) rotateY(455deg);
  }
}

@keyframes blink {
  0% {
    box-shadow: inset 0 0 0 50px rgb(var(--color));
  }
  50% {
    box-shadow: inset 0 0 0 50px rgb(var(--color) / 75%);
  }
  100% {
    box-shadow: inset 0 0 0 50px rgb(var(--color));
  }
}

.progress-bar {
  margin-top: 20px;
  width: 100%;
  height: 3px;
  background: rgb(var(--color));
}
